@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto.ttf");
}
@font-face {
    font-family: Roboto;
    src: url("../fonts/Robotobold.ttf");
    font-weight: bold;
}
/* Шапка сайта*/
body{
    font-family: Roboto, sans-serif;
}
*{
    padding: 0;
    margin: 0;

}
.header{
border-bottom: #E5E5E5 solid 1px ;
padding: 25px 0;
}
.container{
    margin: 0  auto;
    max-width: 1200px ;

}
.header .container{
    display: flex;
    align-items:center ;

}
.logo img{
    vertical-align: bottom;
}
.menu{
    margin-left: 244px ;

}
.menu ul{
    display: flex;
   list-style: none;
  
}
.menu-item{
    margin-left: 115px;
    
}
.menu-item a{
    font-size: 15px;
    color: #030305;
    text-decoration: none;
}
.menu-item a:hover{
    font-size: 15px;
    color: #030305;
    text-decoration: underline 2px solid;
}
.burger{
    display:none;
    position: relative;
    z-index: 100;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 20px;
}
.burger span{
    width: 80%;
    height: 2px;
    transform: scale(1);
    background-color: rgb(0, 0, 0);
}
.burger::before, .burger::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    transform: all 0.3s ease 0s;
    background-color: rgb(0, 0, 0);
}
.burger::before{
    top: 0;

}
.burger::after{
    bottom: 0;
}
.burger.active span{
    transform: scale(0);
}
.burger.active::before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}
.burger.active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);

}
/* Первая секция*/
.main{
    background-image: url(../img/background.png);
    background-position: center;
    background-size: cover ;
    padding: 104px 0 154px 0;
}
.main-info{
    max-width: 855px;
}
.main-title{
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
    color: #030305;
    margin-bottom: 40px;
}
.main-text{
    max-width: 502px;
font-size: 16px;
line-height: 130%;
color: #030305;
margin-bottom: 40px;
}
.button{

    color: #ffff;
    background-color: #030305;
    height: 64px;
    width: 334px;
    font-size: 16px;
    font-weight: bold;
text-transform: uppercase;
padding: 20px;
border: 0;
box-sizing: border-box;
letter-spacing: 0.02.em;
transition: background-color 0.5s;
}
.button:hover{
    background: #575757;
   cursor: pointer;
}
/* Вторая секция*/
.car{
    padding-top: 100px 0 ;

}
.sub-title{
    font-size: 60px;
    font-weight: bold;
line-height: 70px;
color: #030305;

}
.car-items{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between
}
.car-item{
    width: 384px;
    text-align: center;
    margin-top: 40px;
    
}
.car-item-title{
   
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.02.em;
    color: #030305;
    padding: 15px 0 17px 0;
}
.car-name{
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.02.em;
    color: #030305;
    padding: 15px 0 17px 0;
    
}

.car-info{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
   
}
.privod .dvig .mest{
    text-align: center;

}
.car-info img{
    height: 34px;
    width: 34px;
    
    align-items: center;
}
.car-item-action{
    align-items: center;
    margin-top: 13px;
}
.car-item-action .button{
    height: 54px;
    width: 100%;
    padding: 15px;
}
.car-item-image:hover img{
    transform: scale(1.1);

}
.car-item-image img{
 vertical-align: bottom;
    transition: all 0.3s;
}
/*Третья секция*/
.price .container{
    margin-top: 100px;
    position: relative;
    padding-bottom:121px ;

}
.price .sub-title{
    margin-bottom: 20px;
}
.price-text{
    font-size: 16px;
    line-height: 130%;
    color: #5D5D5F;
    margin-bottom: 60px;
}
.price-form{
    max-width: 344px;
    
}
.price-input{
    padding: 22px 18px ;
    margin-bottom: 15px;
    width: 344px ;
    background-color: #ffff;
    border:1px solid #5D5D5F;
    font-size: 16px;
color: #000000;
outline: none;
box-sizing: border-box;

}
.price::placeholder{
    color: #5D5D5F;
}
.price .button{
    width: 100%;

}
.price-image{
    position: absolute;
    bottom: 0;
    left: 401px;
}
.footer{
    border-top:solid 1px #E5E5E5;
    padding: 25px 0;
}
.footer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rights{
    font-size: 15px;
    color: #030305;
}
.open{
    display: flex !important;
}
@media (max-width: 360px){
    .container{
        padding: 0 20px;
    }
    .header .container{
        flex-direction: column;
        align-items: center;
    }
    .logo{
        margin-bottom: 20px;
    }
    .menu{
        display: flex;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 140%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 50;
        overflow-y:auto;
        padding: 60px 30px;
        background-color: #ffffff;
        margin-left: -120px;
    }
    .menu ul{
        flex-direction: column;
        row-gap: 29px;
    }
    .menu-item a{
        color: #000000;
    }
    .burger{
        display: none !important;
    }
    .main{
        background-image: none;
        padding: 50px 0 50px 0;
    }
    .main-title{
        font-size: 28px;
        margin-bottom: 20px;
    }
    .main-text{
        max-width: 100%;
        font-size: 14px;
        margin-bottom: 20px;
    }
    .button{
        max-width: 100%;
        height: 50px;
        font-size: 14px;
    }
    .car{
        padding: 50px 0;
        
    }
    .car-items{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .car-item{
        max-width: 100%;
        width: 100%;
    }
    .car-item-image img{
        width: 100%;
        height: auto;
    }
    .car-item-title{
        font-size: 18px;
    }
    .car-item-action .button{
        width: 100%;
    }
    .sub-title{
        font-size: 28px;
        line-height: 1;
    }
    .price-form{
        max-width: 100%;
    }
    .price-input{
        width: 100%;
    }
    .price-image{
        display: none;
    }
    .footer .container{
        flex-direction: column;
     align-items: center;
    }
}

@media (max-width: 576px){
    .container{
        padding: 0 20px;
    }
    .header .container{
        flex-direction: column;
        align-items: center;
    }
    .logo{
        margin-bottom: 20px;
    }
    .menu{
        display: flex;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 140%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 50;
        overflow-y:auto;
        padding: 60px 30px;
        background-color: #ffffff;
        margin-left: -120px;
    }
    .menu ul{
        flex-direction: column;
        row-gap: 29px;
    }
    .menu-item a{
        color: #000000;
    }
    .burger{
        display: flex !important;
    }
    .main{
        background-image: none;
        padding: 50px 0 50px 0;
    }
    .main-title{
        font-size: 28px;
        margin-bottom: 20px;
    }
    .main-text{
        max-width: 100%;
        font-size: 14px;
        margin-bottom: 20px;
    }
    .button{
        max-width: 100%;
        height: 50px;
        font-size: 14px;
    }
    .car{
        padding: 50px 0;
        
    }
    .car-items{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .car-item{
        max-width: 100%;
        width: 100%;
    }
    .car-item-image img{
        width: 100%;
        height: auto;
    }
    .car-item-title{
        font-size: 18px;
    }
    .car-item-action .button{
        width: 100%;
    }
    .sub-title{
        font-size: 28px;
        line-height: 1;
    }
    .price-form{
        max-width: 100%;
    }
    .price-input{
        width: 100%;
    }
    .price-image{
        display: none;
    }
    .footer .container{
        flex-direction: column;
     align-items: center;
    }
}
@media (max-width: 768px){
    .container{
        padding: 0 20px;
    }
    .header .container{
        flex-direction: column;
        align-items: center;
    }
    .logo{
        margin-bottom: 20px;
    }
    .menu{
        display: flex;
        margin-left: -120px;
    }

    .menu-item a{
        color: #000000;
    }
    .burger{
        display: none !important;
    }
    .main{
        background-image: none;
        padding: 50px 0 50px 0;
    }
    .main-title{
        font-size: 28px;
        margin-bottom: 20px;
    }
    .main-text{
        max-width: 100%;
        font-size: 14px;
        margin-bottom: 20px;
    }
    .button{
        max-width: 100%;
        height: 50px;
        font-size: 14px;
    }
    .car{
        padding: 50px 0;
        
    }
    .car-items{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .car-item{
        max-width: 50%;
        width: 100%;
    }
    .car-item-image img{
        width: 100%;
        height: auto;
    }
    .car-item-title{
        font-size: 18px;
    }
    .car-item-action .button{
        width: 100%;
    }
    .sub-title{
        font-size: 28px;
        line-height: 1;
    }
    .price-form{
        max-width: 100%;
    }
    .price-input{
        width: 100%;
    }
    .price-image{
        display: none;
    }
    .footer .container{
        flex-direction: column;
     align-items: center;
    }
}
@media (max-width: 992px){
    .container{
        padding: 0 20px;
    }
    .header .container{
        flex-direction: column;
        align-items: center;
    }
    .logo{
        margin-bottom: 20px;
    }
    .menu{
        display: flex;
        margin-left: -120px;
    }
  
    .menu-item a{
        color: #000000;
    }
    .burger{
        display: none !important;
    }
    .main{
        background-image: none;
        padding: 50px 0 50px 0;
    }
    .main-title{
        font-size: 28px;
        margin-bottom: 20px;
    }
    .main-text{
        max-width: 100%;
        font-size: 14px;
        margin-bottom: 20px;
    }
    .button{
        max-width: 100%;
        height: 50px;
        font-size: 14px;
    }
    .car{
        padding: 50px 0;
        
    }
    .car-items{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .car-item{
        max-width: 100%;
        width: 100%;
    }
    .car-item-image img{
        width: 100%;
        height: auto;
    }
    .car-item-title{
        font-size: 18px;
    }
    .car-item-action .button{
        width: 100%;
    }
    .sub-title{
        font-size: 28px;
        line-height: 1;
    }
    .price-form{
        max-width: 100%;
    }
    .price-input{
        width: 100%;
    }
    .price-image{
        display: none;
    }
    .footer .container{
        flex-direction: column;
     align-items: center;
    }
}
@media (max-width: 1200px){
    .container{
        padding: 0 20px;
    }
    .header .container{
        flex-direction: column;
        align-items: center;
    }
    .logo{
        margin-bottom: 20px;
    }
    .menu{
        display: flex;
        margin-left: -120px;
    }

    .menu-item a{
        color: #000000;
    }
    .burger{
        display: none !important;
    }
    .main{
        background-image: none;
        padding: 50px 0 50px 0;
    }
    .main-title{
        font-size: 28px;
        margin-bottom: 20px;
    }
    .main-text{
        max-width: 100%;
        font-size: 14px;
        margin-bottom: 20px;
    }
    .button{
        max-width: 100%;
        height: 50px;
        font-size: 14px;
    }
    .car{
        padding: 50px 0;
        
    }
    .car-items{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .car-item{
        max-width: 50%;
        width: 100%;
    }
    .car-item-image img{
        width: 100%;
        height: auto;
    }
    .car-item-title{
        font-size: 18px;
    }
    .car-item-action .button{
        width: 100%;
    }
    .sub-title{
        font-size: 28px;
        line-height: 1;
    }
    .price-form{
        max-width: 100%;
    }
    .price-input{
        width: 100%;
    }
    .price-image{
        display: none;
    }
    .footer .container{
        flex-direction: column;
     align-items: center;
    }
}
